name: Practice workflow
on: workflow_dispatch
env:
  NODE_VERSION: '20.x'
  TODAY: ${{ secrets.TODAY }}
jobs:
  lint_project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install dependecies
        working-directory: ./04_Practice_Project
        run: npm ci
      - name: Echo secrets
        run: |
          echo "TODAY: ${{ env.TODAY }}"

      - name: Lint
        working-directory: ./04_Practice_Project
        run: npm run lint
  deploy_project:
    env:
      WEATHER: "sunny"
    runs-on: ubuntu-latest
    needs: lint_project
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Echo env
        run: |
          echo "NODE_ENV: ${{ env.WEATHER }}"
          echo "NODE_VERSION: ${{ env.NODE_VERSION }}"

      - name: Install dependecies
        working-directory: ./04_Practice_Project
        run: npm ci

      - name: Test
        working-directory: ./04_Practice_Project
        run: npm test
      - name: Build
        working-directory: ./04_Practice_Project
        run: npm run build
        
      - name: Deploy
        working-directory: ./04_Practice_Project
        run: echo "Deploying project..."
      
  
